# Segmentation and clustering

Importing  Liberaries

In [1]:
import pandas as pd
import numpy as np
import xlrd
print ("Liberaries imprted!")

Liberaries imprted!

First we scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M,

Second, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

In [10]:
df=pd.read_excel('C:/Users/r/Desktop/projects/Coursera_Capstone/toronto.xlsx', Sheet='Sheet1')
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Removingd dublicates pincode and Not assigned Neighbourhood

In [11]:
df2=df[df['Neighbourhood'] != 'Not assigned']
df2.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

combining rows having pincodes

In [65]:
df2=df2.groupby(['Postcode','Borough' ]).agg(lambda x: ",".join(x)).reset_index()
df2.head(11)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                      Rouge,Malvern
1       M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2       M1E  Scarborough                    Guildwood,Morningside,West Hill
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough          East Birchmount Park,Ionview,Kennedy Park
7       M1L  Scarborough                      Clairlea,Golden Mile,Oakridge
8       M1M  Scarborough      Cliffcrest,Cliffside,Scarborough Village West
9       M1N  Scarborough                         Birch Cliff,Cliffside West
10      M1P  Scarborough  Dorset Park,Scarborough Town Centre,Wexford He...

In [64]:
df2.shape

(103, 3)